<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

      <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ut eveniet tempore. Consequatur a error id
          omnis
          quas deleniti aut dolores, tempore veritatis fugiat! Eligendi ipsa sit id ducimus tenetur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ut eveniet tempore. Consequatur a error id
          omnis
          quas deleniti aut dolores, tempore veritatis fugiat! Eligendi ipsa sit id ducimus tenetur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ut eveniet tempore. Consequatur a error id
          omnis
          quas deleniti aut dolores, tempore veritatis fugiat! Eligendi ipsa sit id ducimus tenetur!</p>
      </div>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>