<%- include('../partials/head') %>

  <body>

    <%- include('../partials/nav') %>
      <div class="profile-container">
        <!-- Фон уже установлен через CSS -->
        <div class="avatar-wrapper">
          <img src="#" alt="Аватарка">
        </div>
      </div>

      <div class="profile-info">
        <h2>danila_huila</h2>
        <p>@u/danila_huila</p>
      </div>
      <%- include('../partials/footer') %>
  </body>